.p1 {
	background-color: rgb(163, 51, 31);
	margin: 10px;
	padding: 15px;
}

.p2 {
	background-color: #274c96;
	margin: 10px;
	padding: 15px;
}

.p3 {
	background-color: rgb(32, 145, 136);
	margin: 10px;
	padding: 15px;
}

.p4 {
	background-color: #118a0b;
	margin: 10px;
	padding: 15px;
}

.p5 {
	background-color: rgb(97, 44, 102);
	margin: 10px;
	padding: 15px;
}

.p6 {
	background-color: #ce2dd6;
	margin: 10px;
	padding: 15px;
}

.p7 {
	background-color: rgb(189, 0, 91);
	margin: 10px;
	padding: 15px;
}

.p8 {
	background-color: #9c7e11;
	margin: 10px;
	padding: 15px;
}

.p9 {
	background-color: rgb(105, 214, 84);
	margin: 10px;
	padding: 15px;
}

.p10 {
	background-color: #e37c0e;
	margin: 10px;
	padding: 15px;
}

.p11 {
	background-color: rgb(82, 67, 51);
	margin: 10px;
	padding: 15px;
}

.p12 {
	background-color: #e00d11;
	margin: 10px;
	padding: 15px;

}.p13 {
	background-color: rgb(31, 120, 49);
	margin: 10px;
	padding: 15px;
}

.p14 {
	background-color: #f7e96d;
	margin: 10px;
	padding: 15px;
}

.p15 {
	background-color: rgb(143, 137, 196);
	margin: 10px;
	padding: 15px;
}

.p16 {
	background-color: #d18282;
	margin: 10px;
	padding: 15px;
}

.p17 {
	background-color: rgb(32, 117, 93);
	margin: 10px;
	padding: 15px;
}

.p18 {
	background-color: #8200b5;
	margin: 10px;
	padding: 15px;
}

.p19 {
	background-color: rgb(196, 27, 84);
	margin: 10px;
	padding: 15px;
}

.p20 {
	background-color: #806f3c;
	margin: 10px;
	padding: 15px;
}