<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>Website</title>
</head>
<body>

	<nav>
		<p><span class="br">BR</span> Architects</p>
		<ul>
			<li><a href="#">Projects</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</nav>

	<div>
		<img src="img1.jpg">
		<img src="img2.jpg">
		<img src="img3.jpg">
		<img src="img4.jpg">
		<img src="img2.jpg">
		<img src="img1.jpg">
		<img src="img4.jpg">
		<img src="img3.jpg">
	</div>

	<div class="summer">Summer House</div>
	<div class="brick">Brick House</div>
	<div class="renovated">Renovated</div>
	<div class="barn">Barn House</div>
	<div class="brick1">Summer House</div>
	<div class="summer1">Brick House</div>
	<div class="barn1">Renovated</div>
	<div class="renovated1">Barn House</div>

	<p class="about">About</p>
	<p class="lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur scelerisque mauris massa, ut ultricies velit mollis sit amet. Nam ac condimentum eros. In pellentesque sed eros vitae scelerisque. Ut lobortis id nisi vel accumsan. Pellentesque at iaculis mi. Curabitur tempor, nisi dapibus placerat luctus, eros leo pulvinar urna, id vulputate nunc leo at urna. Integer finibus, arcu non porttitor maximus, nunc velit rhoncus urna, ac tempus libero leo eget odio. Donec viverra erat ipsum, in dapibus orci aliquet nec. Aliquam leo risus, lacinia sit amet dolor at, tempus vestibulum massa. Curabitur vulputate sapien quis cursus rhoncus.</p>

   <div class="people">
	<article>
		<div class="image" style="background-image: url(people1.jpg);">
			
		</div>
		<div class="text">
			<h1>John Doe</h1>
			<p class="mini-header">
				<span>CEO & Founder</span>
			</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In imperdiet ullamcorper dui, non elementum est. Nullam ex mi, faucibus sit amet odio a, rutrum maximus nisi. Suspendisse felis dui, porta in nunc eu, consectetur commodo nisi.</p>
			<p class="mini-footer">
				<span class="contact">Contact</span>
			</p>
		</div>
	</article>

	<article>
		<div class="image" style="background-image: url(people2.jpg);">
			
		</div>
		<div class="text">
			<h1>Jane Doe</h1>
			<p class="mini-header">
				<span>Architect</span>
			</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In imperdiet ullamcorper dui, non elementum est. Nullam ex mi, faucibus sit amet odio a, rutrum maximus nisi. Suspendisse felis dui, porta in nunc eu, consectetur commodo nisi.</p>
			<p class="mini-footer">
				<span class="contact">Contact</span>
			</p>
		</div>
	</article>

	<article>
		<div class="image" style="background-image: url(people3.jpg);">
			
		</div>
		<div class="text">
			<h1>Mike Ross</h1>
			<p class="mini-header">
				<span>Architect</span>
			</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In imperdiet ullamcorper dui, non elementum est. Nullam ex mi, faucibus sit amet odio a, rutrum maximus nisi. Suspendisse felis dui, porta in nunc eu, consectetur commodo nisi.</p>
			<p class="mini-footer">
				<span class="contact">Contact</span>
			</p>
		</div>
	</article>

	<article>
		<div class="image" style="background-image: url(people4.jpg);">
			
		</div>
		<div class="text">
			<h1>Dan Star</h1>
			<p class="mini-header">
				<span>Architect</span>
			</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In imperdiet ullamcorper dui, non elementum est. Nullam ex mi, faucibus sit amet odio a, rutrum maximus nisi. Suspendisse felis dui, porta in nunc eu, consectetur commodo nisi.</p>
			<p class="mini-footer">
				<span class="contact">Contact</span>
			</p>
		</div>
	</article>
  </div>

</body>
</html>