@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@500&family=Noto+Serif:ital@1&family=Oxygen:wght@300&display=swap');

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	display: block;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

div {
	border: 2px solid black;
}

.container {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 100px 200px 700px 700px 150px;
}	

.first {
	grid-column: 1/4;
	grid-row: 1/2;
}

.b {
	grid-column: 1/4;
	grid-row: 2/3;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #79E0EE;
	font-family: Geologica;
	font-size: 35px;
}

.c {
	grid-column: 1/4;
	grid-row: 3/4;
	background-image: url('img1.jpg');
	background-position: center;
	background-size: cover;
}


.d {
	grid-column: 1/4;
	grid-row: 4/5;
	word-wrap: break-word;
	background-image: url('img2.jpg');
	background-position: center;
	background-size: cover;
}

.last {
	margin: 0;
	grid-column: 1/4;
	grid-row: 5/6;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: #d9caa3;
	padding: 10px;
	font-size: 20px;
	font-family: Geologica;
}

nav {
	background-color: #79E0EE;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
}

nav img {
	height: 70px;
	border-radius: 0%;
	animation: zoom 5s linear infinite;
	margin: auto;
}

@keyframes zoom {
   0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

nav ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style-type: none;
}

nav ul li a {
	margin: 20px;
	padding: 20px;
}

a {
	color: white;
	text-decoration: none;
	background-color: black;
	border-radius: 15px;
}

nav ul li a:hover {
	background: linear-gradient(90deg, rgba(144,48,98,1) 10%, rgba(164,39,60,1) 61%);
}

.c .tl {
	margin: 50px;
	color: white;
	display: flex;
    justify-content: center;
    align-items: center;
	border-radius: 15px;
	background-color: rgba(152, 238, 204, 0.7);
	padding: 30px;
	font-family: Geologica;
	font-size: 30px;
}

.c .tx {
	margin: 50px;
	display: flex;
    justify-content: center;
    align-items: center;
	border-radius: 15px;
	background-color: #D0F5BE;
	padding: 30px;
	font-family: Geologica;
}

.d .tl {
	margin: 50px;
	color: white;
	display: flex;
    justify-content: center;
    align-items: center;
	border-radius: 15px;
	background-color: rgba(152, 238, 204, 0.7);
	padding: 30px;
	font-family: Geologica;
	font-size: 30px;
}

.d .tx {
	margin: 50px;
	display: flex;
    justify-content: center;
    align-items: center;
	border-radius: 15px;
	background-color: #D0F5BE;
	padding: 30px;
	font-family: Geologica;
}

@media (min-width: 768px) {
 .b {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-column: 2/3;
	grid-row: 1/2;
	font-size: 50px;
	text-align: center;
	word-wrap: break-word;
	background-color: #79E0EE;
	font-family: Geologica;
}

.container {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 100px 688px 150px;
}	

.first {
	grid-column: 1/2;
	grid-row: 1/2;
}


.c {
	grid-column: 1/2;
	grid-row: 2/3;
	background-image: url('img1.jpg');
	background-position: center;
	background-size: cover;
}

.c .tl {
	margin: 50px;
	color: white;
	display: flex;
    justify-content: center;
    align-items: center;
	border-radius: 15px;
	background-color: rgba(152, 238, 204, 0.7);
	padding: 30px;
	font-family: Geologica;
	font-size: 30px;
}

.c .tx {
	margin: 50px;
	display: flex;
    justify-content: center;
    align-items: center;
	border-radius: 15px;
	background-color: #D0F5BE;
	padding: 30px;
	font-family: Geologica;
}

.d .tl {
	margin: 50px;
	color: white;
	display: flex;
    justify-content: center;
    align-items: center;
	border-radius: 15px;
	background-color: rgba(152, 238, 204, 0.7);
	padding: 30px;
	font-family: Geologica;
	font-size: 30px;
}

.d .tx {
	margin: 50px;
	display: flex;
    justify-content: center;
    align-items: center;
	border-radius: 15px;
	background-color: #D0F5BE;
	padding: 30px;
	font-family: Geologica;
}


.d {
	grid-column: 2/3;
	grid-row: 2/3;
	word-wrap: break-word;
	background-image: url('img2.jpg');
	background-position: center;
	background-size: cover;
}

.last {
	margin: 0;
	grid-column: 1/3;
	grid-row: 3/4;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #d9caa3;
	padding: 10px;
	font-size: 20px;
	font-family: Geologica;
}

nav {
	background-color: #79E0EE;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
}

nav img {
	height: 70px;
	border-radius: 0%;
	animation: zoom 5s linear infinite;
}

@keyframes zoom {
   0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

nav ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style-type: none;
}

nav ul li a {
	margin: 20px;
	padding: 20px;
}

a {
	color: white;
	text-decoration: none;
	background-color: black;
	border-radius: 15px;
}

nav ul li a:hover {
	background: linear-gradient(90deg, rgba(144,48,98,1) 10%, rgba(164,39,60,1) 61%);
}
}