body {
	background-color: #9c8d64;
	margin: 0;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

main {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	gap: 30px;
}

main a {
	width: 300px;
	height: 300px;
	border: 2px dashed black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: cover;
	background-position: center;
	color: black;
	text-decoration: none;
	transition: all 1s;
}

main a:hover {
	transform: scale(1.1);
	transition: all 1s;
}

main a p {
	padding: 30px;
	background-color: rgba(255, 255, 255, 0.7);
}

footer {
	background-color: black;
	color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 30px;
	padding: 30px;
}