.a {
	padding: 50px;
	background: linear-gradient(90deg, rgba(50,190,132,1) 41%, rgba(73,146,227,1) 59%);
}

.b {
	padding: 50px;
	background: linear-gradient(180deg, rgba(158,50,190,1) 21%, rgba(225,31,116,1) 41%, rgba(212,21,244,1) 52%, rgba(131,38,206,1) 67%, rgba(158,26,108,1) 86%);
}

.c {
	padding: 50px;
	background: radial-gradient(circle, rgba(50,126,190,1) 21%, rgba(21,48,244,1) 52%, rgba(79,26,158,1) 86%);
}