html {
	background-color: black;
}

header {
	text-align: center;
	font-size: 30px;
	font-family: sans-serif;
	color: white;
	font-weight: 700;
	margin: 10;
}

.red {
	font-size: 20px;
	background-color: red;
	color: red;
	padding: 40px;
	margin: 0;
}

.white {
	font-size: 20px;
	background-color: white;
	color: white;
	padding: 40px;
	margin: 0;
}

.blue {
	font-size: 20px;
	background-color: blue;
	color: blue;
	padding: 40px;
	margin: 0;
}

p {
	color: white;
	font-size: 28px;
}

img {
	height: 500px;
	float: right;
	margin: 10px;
	border: 8px solid darkblue;
	border-radius: 8px;
}